.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 986px;
}

.u-section-1 .u-shape-1 {
  width: 608px;
  height: 350px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 111px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 512px;
  height: 450px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 20px 0 auto;
}

.u-section-1 .u-image-1 {
  height: 558px;
  width: 767px;
  object-position: 0% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -714px auto 0;
}

.u-section-1 .u-group-1 {
  min-height: 244px;
  width: 610px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -191px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 5px 10px 0;
}

.u-section-1 .u-text-2 {
  font-family: "Abhaya Libre";
  font-size: 1.5rem;
  margin: 10px 10px 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 210px;
  }

  .u-section-1 .u-shape-2 {
    width: 608px;
    margin-top: 127px;
    margin-right: 130px;
  }

  .u-section-1 .u-image-1 {
    height: 524px;
    width: 720px;
  }

  .u-section-1 .u-group-1 {
    width: 500px;
    margin-top: 180px;
    margin-left: 320px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-1 .u-shape-1 {
    width: 410px;
    height: 308px;
    margin-top: 131px;
    margin-left: 300px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 8px;
    margin-right: 220px;
  }

  .u-section-1 .u-image-1 {
    height: 393px;
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 382px;
    margin-top: 61px;
    margin-right: 300px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.625rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-1 .u-shape-1 {
    width: 268px;
    height: 227px;
    margin-top: 101px;
    margin-left: 400px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    margin-top: -21px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-1 .u-image-1 {
    height: 247px;
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}